/*
 * Hover.css - Demo Page
 * Author: Ian Lunn @IanLunn
 * Author URL: http://ianlunn.co.uk/
 * Github: https://github.com/IanLunn/Hover
 * Hover.css Copyright Ian Lunn 2017.
 */

/**
 * The following are default styles for the demo page,
 * you don't need to include these on your own site.
 */











.sup:hover {
    background: #eee;
}


.footer a:hover,
.nav:hover {
    color: #207AD1;
}

.nav {
  display: inline-block;
  font-size: .8em;
}

.nav.hvr-icon-down,
.nav.hvr-icon-forward {
  padding-right: 1.2em;
}

.nav.hvr-icon-down::before,
.nav.hvr-icon-forward::before {
  right: 0;
}

.nav:hover,
.nav:focus,
.nav:active {
  text-decoration: none;
}


.button.cta {
  display: inline-block;
  position: relative;
  margin: 1.2em 0 1em 0;
  padding: 1em;
  background: #2098D1;
  border: none;
  text-decoration: none;
  font-weight: 700;
  color: white;
}

.effects {
  margin-top: 6em;
}


.about {
  border-top: #333 solid 2px;
  border-bottom: #333 solid 2px;
}

.footer {
  overflow: hidden;
  width: auto;
  margin-top: 6em;
  font-size: .9em;
}

.footer a {
  text-decoration: none;
}

.credit {
  font-size: .8em;
  font-weight: normal;
}

.licenses {
  margin-top: 40px;
  margin-bottom: 60px;
}

.licenses:after {
  display: block;
  content: '';
  clear: both;
}

.license {
  display: block !important;
  margin-bottom: 20px;
  text-align: center;
  border: #2098D1 solid 1px;
}

.license:focus,
.license:hover {
  border-color: #207AD1;
}

.license:focus .button,
.license:hover .button {
  background-color: #207AD1;
  color: white;
}

.license__content {
  padding: 25px 10px;
}

.license__title {
  margin: 0;
  font-size: 28px;
  line-height: 1.4;
}

.license__title div {
  font-size: 16px;
  font-weight: 400;
}

.license__desc {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 22px;
  font-weight: 700;
}




  .license:nth-child(2) {
    float: right;
  }

  .license__content {
    padding: 40px 10px;
  }
}

.download {
  margin-top: 2.6em;
}

.social-button {
  display: inline-block;
  vertical-align: middle;
}

.twitter-follow-button {
    display: block;
    margin: 0 auto;
}

.follow {
    margin-bottom: 20px;
    line-height: 200%;
}

.made-by {
  display: block;
  margin-top: 3em;
  padding-top: 3em;
  padding-bottom: 1em;
  font-family: $fontFeature;
  font-size: 1.125em;
  text-align: center;
  line-height: 1.6;
  background: #181818;
  color: #777;
}

.made-by svg {
  display: block;
}

.made-by ul,
.made-by p {
  margin: 0;
  padding: 0;
}






.made-by a:focus,
.made-by a:hover {
  color: white;
}

.made-by i {
  font-size: 26px;
  height: 30px;
}

.made-by .follow {
  margin-top: 2em;
}

.made-by .follow iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .5em;
}

.made-by small {
  display: block;
  margin-top: 3em;
  font-size: .625em;
}

@-webkit-keyframes circle {
  50% {
    -webkit-transform: scale(1.26923077);
    transform: scale(1.26923077);
  }
}

@keyframes circle {
  50% {
    transform: scale(1.26923077);
  }
}

@-webkit-keyframes initials {
  50% {
    -webkit-transform: translateY(-8px) translateZ(0);
    transform: translateY(-8px) translateZ(0);
  }
}

@keyframes initials {
  50% {
    transform: translateY(-8px) translateZ(0);
  }
}

.ild-ident {
  display: block;
}

.ild-ident svg {
  display: block;
  overflow: visible;
  transform: scale(1) translateZ(0);
}

.ild-ident .circle-holder {
  transform: translate(-7px, -7px);
}

.ild-ident .circle {
  transform: translate(7px, 7px);
}

.ild-ident .active .i {
  animation: initials .4s ease-in-out;
}

.ild-ident .active .l {
  animation: initials .4s .2s ease-in-out;
}

.ild-ident .active .circle {
  animation: circle .5s .1s ease-in-out;
}







